@media screen and (max-width: 1133px) {
    .quest {
        width: 380px;
        padding: 15px;
    }
}

@media screen and (max-width: 916px) {
    .hear {
        width: 350px;
    }
}

@media screen and (max-width: 900px) {
    .head {
        display: flex;
        align-items: center;
    }

	h2 {
        width: 210px !important;
		font-size: 40px !important; 
	}

    p {
        top: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    .container {
        height: 320px !important;
    }

    .container .onee {
        width: 50px !important;
        height: 50px !important;
        position: absolute !important;
        top: -20px !important
    }

    .container .twoo {
        width: 50px !important;
        height: 50px !important;
        position: absolute !important;
        bottom: 50px !important;
        right: 0 !important;
    }

    .container form {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }

    .container form input {
        width: 100% !important;
    }
}

@media screen and (max-width: 550px) {
	.questions .quest {
		width: 100% !important;
	}

	.questions .quest p.question {
		width: 100% !important;
	}

    .questions .answer {
        width: 100% !important;
    }
}


@media screen and (max-width: 520px) {
	.questions .quest, .questions .answer {
		width: 80% !important;
        margin: 0 auto !important;
	}

	.questions .quest p.question {
		width: 100% !important;
	}
}

@media screen and (max-width: 450px) {
    .container h2 {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 420px) {
    .questions .quest {
        height: auto !important;
    }

    .questions .quest .question {
        height: 100% !important;
    }

	.questions .quest, .questions .answer {
		width: 55% !important;
	}
}