@media screen and (max-width: 1800px) {
	.placeholder {
        padding: 250px;
	}
}

@media screen and (max-width: 1750px) {
	.placeholder {
        padding: 240px;
	}
}

@media screen and (max-width: 1700px) {
	.placeholder {
        padding: 230px;
	}
}

@media screen and (max-width: 1650px) {
	.placeholder {
        padding: 220px;
	}
}

@media screen and (max-width: 1600px) {
	.placeholder {
        padding: 215px;
	}
}

@media screen and (max-width: 1550px) {
	.placeholder {
        padding: 210px;
	}

	.management {
		/* flex-wrap: ; */
	}
}

@media screen and (max-width: 1500px) {
	.placeholder {
        padding: 190px;
	}
}

@media screen and (max-width: 1450px) {
	.placeholder {
        padding: 180px;
	}
}

@media screen and (max-width: 1400px) {
	.placeholder {
        padding: 160px;
    }
}

@media screen and (max-width: 1350px) {
	.placeholder {
        padding: 150px;
    }
}

@media screen and (max-width: 1300px) {
	.placeholder {
		padding: 140px;
	}
}

@media screen and (max-width: 1295px) {
	.content {
		width: 90% !important;
		flex-direction: row !important;
		justify-content: "space-between" !important;
		/* gap: 200px !important; */
	}

	.content h1 {
		width: 50%;
	}

	.content div {
		width: 50%;
		/* padding-top: 40px; */
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.content div button {
		top: 0 !important;
	}

	.tableWrapper {
		width: 90% !important;
		/* z-index: 200 !important; */
	}
}

@media screen and (max-width: 1250px) {
	.placeholder {
		padding: 125px;
	}
}

@media screen and (max-width: 1200px) {
	.placeholder {
		padding: 115px;
	}
}

@media screen and (max-width: 1160px) {
	.placeholder {
		padding: 105px;
	}
}

@media screen and (max-width: 1130px) {
	.placeholder {
		padding: 100px;
	}
}

@media screen and (max-width: 1080px) {
	.placeholder {
		padding: 90px;
	}
}

@media screen and (max-width: 1050px) {
	.placeholder {
		padding: 80px;
	}
}

@media screen and (max-width: 1000px) {
	.placeholder {
		padding: 70px;
	}
}

@media screen and (max-width: 950px) {
	.placeholder {
		padding: 60px;
	}
}

@media screen and (max-width: 920px) {
	.placeholder {
		padding: 55px;
	}
}

@media screen and (max-width: 900px) {
	.placeholder {
		padding: 40px;
	}

	.content h1 {
		font-size: 40px !important; 
	}

	.container {
		width: 100% !important;
	}

	.containerh2 {
		width: 100% !important;
		font-size: 30px !important;
	}
}