.ppp{
    @apply text-[#555] text-center text-sm not-italic font-normal leading-[2.57006rem];
    font-family: Poppins;
    /* 293.718% */
}
.pt{
    @apply text-black text-sm not-italic font-normal leading-[0.25rem];
    font-family: Poppins;
}
.pt1{
    @apply text-[#2B2E72] text-center text-sm not-italic font-semibold leading-[2.57006rem];
    font-family: Poppins;
    /* 293.718% */
}