@import url('https://fonts.googleapis.com/css2?family=Inter&family=Open+Sans&family=Poppins&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.ppp {
    @apply absolute flex items-center pr-4 right-0 inset-y-0;
}